@media(min-width:1024px) {

  .primeira__secao__flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 6rem;
  }

  .primeira__secao__article {
    margin: 0;
  }

  .primeira__secao__paragrafo {
    text-align: left;
  }

  .primeira__secao__formulario {
    text-align: right;
  }

  .primeira__secao__formulario__titulo {
    text-align: center;
  }

  .primeira__secao__texto__foto {
    align-self: flex-start;
    margin: 6rem;
    padding: 0;
  }

  .terceira__secao {
    margin: 2rem 0;
  }

  .terceira__secao__lista {
    margin: 0 4rem;
    line-height: 1.5rem;
  }

  .quarta__secao__article {
    flex-direction: row;
  }

  .quarta__secao__paragrafo {
    margin: 0 3rem;
  }

  .quinta__secao__article {
    display: flex;
    flex-direction: row;
    margin: 0 5rem 2rem;
  }

  .quinta__secao__paragrafo {
    align-self: center;
  }

  .primeira__secao__obrigado {
    height: 70vh;
  }

  .primeira__secao__obrigado__titulo {
    text-align: center;
  }

  .primeira__secao__obrigado__paragrafo,
  .primeira__secao__obrigado__paragrafo__menor {
    padding: 0 15rem 0 20rem;
  }
}