@media(min-width:768px) {
  .primeira__secao {
    justify-content: center;
    height: 80vh;
  }

  .primeira__secao__titulo {
    font-size: 1.8rem;
    text-align: center;
    padding: 0;
  }

  .primeira__secao__paragrafo {
    text-align: center;
    margin: 1rem;
    padding-left: 0;
  }

  .primeira__secao__formulario {
    margin: 1rem;
  }

  .primeira__secao__formulario__titulo {
    align-self: center;
  }

  .primeira__secao__formulario__texto {
    text-align: center;
  }

  .primeira__secao__formulario__input {
    align-self: center;
  }

  .primeira__secao__formulario__botao {
    align-self: center;
  }

  .primeira__secao__texto__foto {
    margin: 0 0 2rem 5rem;
    align-self: flex-start;

  }

  .segunda__secao {
    height: 60vh;
  }

  .segunda__secao__titulo {
    font-size: 1.8rem;
  }

  .segunda__secao__paragrafo {
    margin: 0 5rem;
  }

  .segunda__secao__formulario__botao {
    font-size: 1rem;
    padding: 1.2rem;
  }

  .terceira__secao {
    height: 70vh;
  }

  .terceira__secao__titulo {
    margin: 0 0 0 5rem;
    text-align: left;
    font-size: 1.8rem;
  }

  .terceira__secao__lista__item {
    line-height: 2rem;
  }

  .quarta__secao {
    display: flex;
    flex-direction: column;
  }

  .quarta__secao__titulo {
    font-size: 1.8rem
  }

  .quarta__secao__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .quarta__secao__img {
    width: 50%;
    align-self: center;
  }

  .quarta__secao__paragrafo {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .quinta__secao__titulo {
    font-size: 1.8rem;
  }

  .quinta__secao__paragrafo {
    font-size: 1.2rem;
    margin: 2rem 5rem;
  }

  .quinta__secao__texto__formulario {
    font-size: 1rem;
  }

  .primeira__secao__obrigado__titulo {
    font-size: 1.8rem;
  }

  .primeira__secao__obrigado__paragrafo__menor {
    font-size: .9rem;
  }

  .segunda__secao__obrigado {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    line-height: 2rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 700;
    color: #063254;
  }

  .segunda__secao__titulo {
    margin: 1rem;
  }

  .terceira__secao__obrigado__titulo {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .terceira__secao__obrigado__imagem__telegram {
    width: 15%;
    align-self: center;
    margin-left: -2rem;
  }
}