.primeira__secao__obrigado {
  background-image: url("https://i.imgur.com/vnWiobX.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  text-align: left;
}

.primeira__secao__obrigado__titulo {
  color: #FFE200;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem;

}

.primeira__secao__obrigado__paragrafo {
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 1rem;

}

.primeira__secao__obrigado__paragrafo__menor {
  font-size: .9rem;
  margin: 1rem;
  color: white;
  font-weight: 400;

}

.segunda__secao__obrigado {
  display: none;
}

.secao__obrigado__botao {
  background: linear-gradient(180deg, #FFB700 99.99%, #141414 100%);
  border-radius: 2.6rem;
  text-align: center;
  padding: 1.2rem;
  margin: 0 .5rem;
  font-weight: 700;
  width: fit-content;
  align-self: center;
  box-sizing: border-box;
  color: white;
  font-size: 1.25rem;
  border: none;
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
}

.terceira__secao__obrigado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  background: linear-gradient(180deg, #FFB700 99.99%, #141414 100%);
}

.terceira__secao__obrigado__titulo {
  line-height: 1.5rem;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
  color: #063254;
  margin: 1rem;
}

.terceira__secao__obrigado__telegram {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: center;
}

.terceira__secao__obrigado__imagem__telegram {
  width: 15%;
  align-self: center;
  margin-left: -.7rem;
}

.terceira__secao__obrigado__formulario__texto {
  padding: .5rem;
  align-self: center;
  font-size: 1rem;
}

.terceira__secao__obrigado__formulario__botao {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #9B51E0;
  border-radius: 2.6rem;
  text-align: center;
  font-weight: 700;
  width: fit-content;
  align-self: center;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 10px black;
}