.primeira__secao {
  background-image: url("https://i.imgur.com/kfUElXf.png");
  background-position: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  /* width: 100vw; */
}

.primeira__secao__titulo {
  color: #FFE200;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 700;
  padding: 2rem 0 1rem 8rem;
}

.primeira__secao__paragrafo {
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: left;
  padding-left: 8rem;
}

.primeira__secao__texto__foto {
  font-size: .9rem;
  color: white;
  padding: 1rem 0 0 8rem;
}

.primeira__secao__formulario {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.primeira__secao__formulario__titulo {
  color: #FFE200;
  font-weight: 700;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

.primeira__secao__formulario__texto {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.primeira__secao__formulario__input {
  border: 2px solid #99B6CC;
  box-sizing: border-box;
  width: 17rem;
  border-radius: 4px;
  margin: .2rem;
  align-self: center;
}

.primeira__secao__formulario__botao {
  background-color: #FFB700;
  border-radius: 2.6rem;
  text-align: center;
  padding: .8rem;
  font-weight: 700;
  width: fit-content;
  margin-top: .8rem;
  align-self: center;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  width: 17rem;
}