.terceira__secao {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.terceira__secao__titulo {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  margin: 0 1rem;
  color: #063254;
}

.terceira__secao__lista {
  color: #063254;
  margin: 0 2rem;
}

ul li::before {
  content: "\2B24";
  color: #FFB700;
  font-weight: bolder;
  padding: 0 .5rem;
  margin-left: -1rem;
}

.terceira__secao__lista__item {
  text-align: justify;
  line-height: 2rem;
}

hr {
  padding: 0;
  border: none;
  border-top: 2px dotted #FFB700;
  height: 1px;
  width: 50%;
}