.terceira__secao {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  color: #063254;
  margin: 1rem;
}

.terceira__secao__titulo {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
  margin: .5rem 0;
}

.terceira__secao__lista {
  padding: 0;
  margin: 0;
}

.terceira__secao__lista__item {
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
}

ul li::before {
  content: "\2B24";
  color: #FFB700;
  font-weight: bolder;
  padding: 0 .5rem;
}

hr {
  padding: 0;
  border: none;
  border-top: 2px dotted #FFB700;
  height: 1px;
  width: 50%;
}