.terceira__secao {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;

}

.terceira__secao__titulo {
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  color: #063254;
  padding: .5rem;
}

.terceira__secao__lista {
  color: #063254;
}

ul.terceira__secao__lista {
  padding: 0;
}

ul li::before {
  content: "\2B24";
  color: #FFB700;
  font-weight: bolder;
  padding: 0 .5rem;
}

.terceira__secao__lista__item {
  text-align: left;
  line-height: 2.2rem;
}

hr {
  padding: 0;
  border: none;
  border-top: 2px dotted #FFB700;
  height: 1px;
  width: 50%;
}